<center><h2>Sign up</h2>

<%= form_for(@artist, as: @artist, url: registration_path(@artist)) do |f| %>
  <%= render "shared/error_messages", model: @artist %>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.text_field :birthdate, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :origin %><br />
    <%= f.text_field :origin, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :biography %><br />
    <%= f.text_area :biography, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
</center>
