<%= render 'error_messages' %>

<div class="row">
  <div class="col-xs-12">
    <%= form_for(@artist, :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="form-group">
        <div class="control-label col-sm-4">
          <%= f.label :nickname %>
        </div>
        <div class="col-sm-4">
          <%= f.text_field :nickname, class: "form-control", placeholder: "Artist's nickname", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-4">
          <%= f.label :birthdate %>
        </div>
        <div class="col-sm-4">
          <%= f.text_field :birthdate, class: "form-control", placeholder: "Dec 8 1974", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-4">
          <%= f.label :origin %>
        </div>
        <div class="col-sm-4">
          <%= f.text_field :origin %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-4">
          <%= f.label :biography %>
        </div>
        <div class="col-sm-4">
          <%= f.text_area :biography, class: "form-control", placeholder: "Bio here", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-12">
          <%= f.submit(@artist.new_record? ? "Create an Artist" : "Update an Artist", class: "btn btn-primary btn-lg") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
