
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
         <h1><%= @artist.nickname %>'s page</h1>
         <%= image_tag @artist.avatar.variant(resize: "200x200") if @artist.avatar.attached? %>
      </div>
      <div class="col-xs-6">
        <%= @artist.biography %><br>
           <% if current_artist == @artist %>
              <%= link_to "Edit yourself", edit_artist_registration_path(@artist), class: "btn btn-xs btn-primary" %>
              <%= link_to "Create a song", new_artist_song_path(@artist), class: "btn btn-xs btn-warning" %>
           <% end %>
           <%= link_to "Return to all Artists", artists_path, class: "btn btn-xs btn-success" %>

      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        Born <%= @artist.birthdate %>, <%= @artist.origin %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <% if current_artist == @artist %>
          <%= link_to "Sign out", destroy_artist_session_path, method: :delete, data: { confirm: "Sure to log out?"},class: "btn btn-xs btn-danger" %>
<% end %>
      </div>
      <div class="col-xs-6">
        <% if @artist.songs.any? %>
        <h3 align = "center"> <%= @artist.nickname %>'s songs </h3>


           <% @artist.songs.each do |song| %>
             <ul class="listing">
               <div class="row">
                  <div class="col-6">
                     Title: <h4 class="nickname"><%= song.title %></h4>
                     <li>Released: <%= song.released %>. Duration: <%= song.duration %>


                           <%= link_to "Edit the song", edit_artist_song_path(@artist, song), class: "btn btn-xs btn-primary" %>
                           <%= link_to "Delete the song", artist_song_path(@artist, song), method: :delete,
                           data: { confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>

                    </li>
                  </div>
               </div>
             </ul>
           <% end %>
           <% end %>
         </div>
      </div>
