<h1 align = "center"><%= @artist.nickname %>'s page</h1>
  <div class="container">
    <div class="row">

       <div class="col-xs-6">
         <%= @artist.biography %><br>
         <%= link_to "Edit an artist", edit_artist_path(@artist), class: "btn btn-xs btn-primary" %>
         <%= link_to "Return to all Artists", artists_path, class: "btn btn-xs btn-success" %>
          <%= link_to "Create a song", new_artist_song_path(@artist), class: "btn btn-xs btn-warning" %>
       </div>
       <div class="col-xs-6">
           <% @artist.songs.each do |song| %>
             <ul class="listing">
               <div class="row">
                  <div class="col-6">
                     Title: <h4 class="nickname"><%= song.title %></h4>
                     <li>Released: <%= song.released %>. Duration: <%= song.duration %>
                     <%= link_to "Edit the song", edit_artist_song_path(@artist, song), class: "btn btn-xs btn-primary" %>
                     <%= link_to "Delete the song", artist_song_path(@artist, song), method: :delete,
                     data: { confirm: "Are you sure?"}, class: "btn btn-xs btn-danger" %>
                     </li>
                  </div>
               </div>
             </ul>
           <% end %>
         </div>
         <div class="row">
          <div class="col">
             Born <%= @artist.birthdate %>, <%= @artist.origin %>
          </div>
      </div>
</div>
